version: '3.5'
services:
    node:
      build:
        context: .
      ports:
        - '8080:8080'
      networks:
        - network
      volumes:
        - 'gateway_data:/app/static'
      depends_on:
        - postgres
    
  postgres:
    image: postgres:9.6.22-alpine
    platform: linux/arm64
    ports:
      - '5432:5432'
    networks:
      - network
    volumes:
      - 'postgres_data:/var/lib/postgresql/data'
    environment:
      POSTGRES_DB: $db_name
      POSTGRES_USER: $username
      POSTGRES_PASSWORD: $password
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: 'redis:alpine'
    ports:
      - '6379:6379'
    networks:
      - network
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 1s
      timeout: 3s
      retries: 30


networks:
  network:
    driver: bridge

volumes:
  gateway_data:
  postgres_data:
